.image-container {
  box-sizing: border-box;
  position: relative;
}
.image {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.image-button {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 1s;
}
.image-button:hover {
  opacity: 1;
}
