.image-container {
  box-sizing: border-box;
  margin: 50px 0;
}
.image {
  display: block;
  max-width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}
.gallery {
  display: flex;
}
.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.figcaption {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}
.img-filter-opacity {
  filter: opacity(50%);
}
.img-filter-blur {
  filter: blur(4px);
}
.img-filter-invert {
  filter: invert(100%);
}
