* {
  box-sizing: border-box;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 500px;
  margin: 16px;
}
thead {
  font-weight: 700;
}
td,
th {
  padding: 4px;
  text-align: right;
}
