* {
  box-sizing: border-box;
}
.page {
  overflow-y: auto;
}
caption {
  margin-bottom: 8px;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 500px;
  margin: 16px;
}
tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody > tr:hover {
  background-color: #aaa;
  color: #fff;
}
thead {
  background-color: aqua;
}
thead,
tfoot {
  font-weight: 700;
}
tr {
  height: 40px;
}
td,
th {
  padding: 4px;
  text-align: right;
}
