* {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: relative;
}
.spinner-text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: monospace;
  animation: blinking 2s;
  animation-iteration-count: infinite;
}
.rect {
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  animation: moving 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
