.text {
  display: inline-block;
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.text:hover .tooltip {
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 24px;
  left: 0;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 40px;
  text-align: center;
  display: none;
}
