html {
  box-sizing: border-box;
}
section {
  margin: 32px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1 {
  text-transform: uppercase;
  word-spacing: 20px;
  text-align: center;
}
p {
  line-height: 28px;
}
.tecknology {
  font-size: 24px;
  letter-spacing: 3px;
  opacity: 80%;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
em {
  color: grey;
}
