/* * {
  box-sizing: border-box;
} */
.products__element {
  display: flex;
  height: 200px;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
}

.navigation {
  background-color: #ff7f50;
  flex-grow: 1;
}

.products-list {
  background-color: #006400;
  flex-grow: 1;
}

.news {
  background-color: #0ff;
  flex-grow: 1;
}

.text {
  padding: 8px;
  text-transform: lowercase;
  font-family: Verdana, Tahoma, sans-serif;
  border-radius: 4px;
  background-color: #faebd7;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
  .products {
    flex-grow: 2;
    flex-basis: calc(66vw);
  }
  .news {
    flex-basis: calc(33vw);
  }
}
