.body {
  background-color: antiquewhite;
}
.boxsizing {
  width: 512px;
  height: 128px;
  margin: 16px;
  padding: 16px;
  border: 8px solid black;
}
.contentbox {
  box-sizing: content-box;
  background-color: aquamarine;
}
.borderbox {
  box-sizing: border-box;
  background-color: azure;
}
