* {
  box-sizing: border-box;
}
html {
  color: #555;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-image: linear-gradient(60deg, red, orange);
}

h1 {
  color: #fff;
  text-align: center;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
}
.navigation {
  padding: 0.5em;
  width: 20%;
}
.nav-list {
  padding: 0;
}
.nav-list-item {
  padding: 0;
  list-style-type: none;
  background-color: #808080;
  color: #fff;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.5em;
}
.nav-list-link {
  width: 100%;
  padding: 0 0.5em;
  text-decoration: none;
  color: #fff;
}
.section {
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.news {
  padding: 0.5em;
  width: 20%;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
