* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
}
.button {
  margin: 0;
  border: 0;
  box-shadow: none;
  padding: 0;
  font-size: 0;
  cursor: pointer;
}
.fa-bars {
  font-size: 2em;
  width: 30px;
  height: 30px;
}
.navigation {
  max-width: 20%;
  padding: 0.5em;
  display: none;
}
@media screen and (min-width: 600px) {
  .navigation {
    display: block;
  }
  .button {
    display: none;
  }
}
.nav-list {
  list-style-type: none;
  padding: 0;
}
.nav-list-item {
  padding: 0;
  background-color: #808080;
  color: #fff;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.5em;
}
.nav-list-link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  padding: 0 0.5em;
}
