.checkbox {
  display: inline-block;
  position: relative;
  font-size: 24px;
  padding-left: 35px;
  margin: 16px;
}
input[type='checkbox'] {
  visibility: hidden;
  width: 0;
  height: 0;
}
.checkmark {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
}
.checkbox input:checked + .checkmark {
  background-color: #006400;
}
