.header {
  height: 50px;
  background-color: yellow;
}
.content {
  height: 500px;
  background-color: pink;
  width: 80%;
  float: left;
}
.sidebar {
  height: 500px;
  background-color: grey;
  width: 20%;
  float: left;
}
.footer {
  height: 50px;
  background-color: green;
  clear: both;
}
