* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid lightgray;
  border-top: 4px solid black;
  margin-bottom: 8px;
  animation: rotate 2s linear;
  animation-iteration-count: infinite;
}
.spinner-text {
  font-family: monospace, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
