.header {
  display: flex;
  align-items: center;
  height: 3em;
  background-color: #006400;
}
.menu {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 3em;
  color: #fff;
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
  &__item {
    position: relative;
    padding: 0 8px;
    line-height: 3em;
    &:hover {
      background-color: #9acd32;
    }
  }
  &__item_active {
    color: yellow;
    &:hover .submenu {
      display: block;
    }
  }
}

.submenu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  color: #fff;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
  &__item {
    padding: 0 8px;
    &:hover {
      color: #000;
    }
  }
}
