* {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
}
.block {
  position: absolute;
  width: 250px;
  height: 100px;
  left: calc(50vw - 125px);
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  background-color: coral;
  animation: move 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes move {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
