.horizontal {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
