$sm: 600px; //max width 600 - 1: промежуток до 599 пикселей - не задаем так как изначально верстка мобайл ферст
$sm: 600px; //min width 600 :    промежуток от 600 пикелей
$md: 900px; //min width 900 :    промежуток от 900 пикселей
$lg: 1200px; //min width 1200 :   промежуток от 1200 пикселей

// @mixin for-extra-small {
//   @media screen and (max-width: $sm) {
//     @content;
//   }
// }
@mixin for-small-up {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin for-medium-up {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin for-large-up {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin for-landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
